<h3> Create a group </h3>

<div class='form-group'>
  <%= form_with url: groups_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, id: 'Name', class: 'form-control', placeholder: 'Name your group' %>
    <%= f.label :description %>
    <%= f.text_field :description, id: 'Description', class: 'form-control', placeholder: 'Name your group' %>
    <%= f.select(:users, @users_list.collect {|u| [u.email, u.id]}, {}, {multiple: true, id: 'friends'}) %>
    <%= f.submit value: 'Create group', class: 'btn btn-success' %>
  <% end %>
</div>
