<h1>
  <%= @group.name %>
</h1>

<p>
  <%= @group.description %>
</p>

<h3> Members </h3>
<% @group.users.each do |user| %>
  <p>
    <% if user == current_user %>
      <strong> <%= user.email %> </strong>
    <% else %>
      <%= user.email %>
    <% end %>
  </p>
<% end %>

<%= form_with model: [@group] url: groups_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, id: 'Name' %>
  <%= f.label :description %>
  <%= f.text_field :description, id: 'Description' %>
  <%= f.select(:users, User.all.collect {|u| [ u.email, u.id ] }, {}, { multiple: true, id: 'friends' })%>
  <%= f.submit value: 'Create group' %>
<% end %>
