<h1>
  <%= @group.name %>
</h1>

<p>
  <%= @group.description %>
</p>

<h3> Members </h3>
<% @group.users.each do |user| %>
  <p>
    <% if user == current_user %>
      <strong>
        <%= user.email %>
      </strong>
    <% else %>
      <%= user.email %>
    <% end %>
  </p>
<% end %>

<%= form_with model: [@group, Expense.new], local: true do |f| %>
<%= f.label :description %>
<%= f.text_field :description, id: 'Description' %>
<%= f.label :amount %>
<%= f.text_field :amount, id: 'Amount' %>
<%= f.submit value: 'Add expense' %>
<% end %>

<% @group.expenses.each do |expense| %>
  <p><%= expense.user.email %> paid <%= expense.amount %>kr for <%= expense.description %></p>
<% end %>


  <h3>
    Who owes whom?
  </h3>
  <% @group.output.each do |message| %>
    <%= message %> <br>
  <% end %>


