<h1><%= @group.name %></h1>

<p><%= @group.description %></p>

<h3> Members </h3>
<% @group.users.each do |user| %>
  <p>
    <% if user == current_user %>
      <strong>
        <%= user.email %>
      </strong>
    <% else %>
      <%= user.email %>
    <% end %>
  </p>
<% end %>

<div class='form-group'>
  <%= form_with model: [@group, Expense.new], local: true do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description, id: 'Description', class:'form-control', placeholder: 'Describe your expense' %>

  <%= f.label :amount %>
  <%= f.text_field :amount, id: 'Amount', class:'form-control', placeholder: 'How much did you spend?' %>
  <%= f.submit value: 'Add expense', class:'btn btn-primary' %>
  <% end %>
</div>

<% @group.expenses.each do |expense| %>
  <p><%= expense.user.email %> paid <%= expense.amount %>kr for <%= expense.description %></p>
<% end %>

<% if @output %>
  <h3>
    Who owes whom?
  </h3>
  <% @output.each do |message| %>
    <%= message %> <br>
  <% end %>
  <p> Total expenses per person: <%= @group_average %>kr </p>
<% end %>
