<!DOCTYPE html>
<html>
  <head>
    <title>Evensteven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="toggled">

    <%= render 'layouts/nav' %>

    <% flash.each do |key, value| %>
      <div class="text-center">
        <%= value %>
      </div>
    <% end %>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a> -->
          <button class="navbar-toggler navbar navbar-dark bg-dark" id="menu-toggle" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <%= yield %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

  </body>
</html>
