<!DOCTYPE html>
<html>
  <head>
    <title>Evensteven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="toggled">

    <%= render 'layouts/nav' %>

    <% flash.each do |key, value| %>
      <div class="text-center">
        <%= value %>
      </div>
    <% end %>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            <h3>Welcome!</h3>
          <%= yield %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
<<<<<<< HEAD

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
=======
>>>>>>> david/adds_styling

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

  </body>
</html>
